<% if user_is_authorized_for_topic? %>
 <h1><%= link_to "Edit Topoic", edit_topic_path, class: "btn btn-info" %>
	<%= link_to "Delete topic", @topic, method: :delete, class: 'btn btn-warning', data:{ confirm: "Are you sure that you want to delete Topic?"} %></h1>
<% end %>
<div class="row">
	<div class="col-md-8">
		<h2><%= @topic.name %></h2>
		<p class="lead"><%= @topic.description %></p>
		<%= render @topic.posts %>
	</div>
   <% if current_user %>
	<div class="col-md-4">
		<%= link_to "New Post", new_topic_post_path(@topic), class: 'btn btn-warning' %>

	</div>
   <% end %>
</div>